@page "/"

<PageTitle>Home</PageTitle>

<div class="container" style="padding-top: 3rem; text-align: center;">
    <h1 style="padding: 1rem;">
        TransformersJS in Blazor WebAssembly
    </h1>

    <p style="padding: 1rem;">
        This Blazor WebAssembly web app demos the SpawnDev.BlazorJS.TransformersJS library.<br />
        The inference models used can be quite large. A fast connection is recommended.
    </p>

    <p style="padding: 1rem;">
        See the GitHub repo link in the left sidebar for more information or to contact the author of this web app.
    </p>

</div>