@implements IDisposable
@foreach (var progress in ModelProgresses.Values)
{
    <div>
        <ProgressBar Label="@($"{progress.Name}/{progress.File} {BytesToHumanReadable(progress.Loaded ?? 0)}/{BytesToHumanReadable(progress.Total ?? 0)}")" Progress="@(progress.Status == "done" ? 100 : progress.Progress ?? 0)" />
    </div>
}
@code {
    [Parameter]
    public Dictionary<string, ModelLoadProgress> ModelProgresses { get; set; } = new();

    public static string BytesToHumanReadable(long bytes)
    {
        string[] sizes = { "B", "KB", "MB", "GB", "TB", "PB", "EB" };
        double len = bytes;
        int order = 0;
        while (len >= 1024 && order < sizes.Length - 1)
        {
            order++;
            len = len / 1024;
        }
        return $"{len:0.##} {sizes[order]}";
    }
    public void Dispose()
    {
        
    }
}
